.product{
    width: 140px;
    height: 222px;
    border: 1px double #ffffff;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    .productName{
        color: blue;
        font-size: medium;
        width: 100px;
        height: 48px;
    }
    div{
        width: 100px;
        text-align: center;
        p{
            margin: 0;
        }
        .fa-star{
            color: #cccccc;
        }
    }
    .button{
        color: #ffffff;
        background-color: #000000;
        font-size: 12px;
        border: 1px solid #000000;
        padding: 6px 11px;
    }
}