body {
    background-color: rgb(228, 225, 225);
}
.headerContainer {
    background-color: #ffffff;
    padding: 20px 0 5px;

h1 {
    text-align: center;
    margin-top: 20px;
}
.headerList{
    list-style-type: none;
    padding: 0;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    li {
        margin-right: 20px;
        cursor: pointer;
    }
}
}