.cartItems{
    td{
        vertical-align: middle;
    }
    .deleteIcon{
        cursor: pointer;
    }
.quantity{
    button{
        border: 1px solid #cccccc;
        background-color: #ffffff;

    }

    input{
        width: 50px;
        border: 1px solid #cccccc;
        text-align: center;
    }
}
}
